#tableData {
  font-size: .65rem;
}

#jumbo {
  background-color: rgb(81, 136, 218)
}

#dashboard {
  text-decoration: underline;
  padding: 20px
}

@import "../../../node_modules/bootstrap/scss/bootstrap";